/* =========================================
   FONTS
   ========================================= */

@font-face {
    font-display: swap;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/montserrat-700.woff2') format('woff2'),
    url('../fonts/montserrat-700.woff') format('woff');
}

@font-face {
    font-display: swap;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/montserrat-600.woff2') format('woff2'),
    url('../fonts/montserrat-600.woff') format('woff');
}

@font-face {
    font-display: swap;
    font-family: 'Fira Sans';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/fira-sans-500.woff2') format('woff2'),
    url('../fonts/fira-sans-500.woff') format('woff');
}

@font-face {
    font-display: swap;
    font-family: 'Fira Sans';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/fira-sans-400.woff2') format('woff2'),
    url('../fonts/fira-sans-400.woff') format('woff');
}


/* =========================================
   TOKENS
   ========================================= */

:root {
    /* Typography */
    --font-display: 'Montserrat', sans-serif;
    --font-body: 'Fira Sans', sans-serif;
    --font-button: 'Fira Sans', sans-serif;

    /* Color Primitive */
    --dark-400: #28293D;
    --dark-300: #363A47;
    --dark-200: #6D778B;
    --dark-100: #A8B1B7;
    --field-200: #F1F3F9;
    --field-100: #F9FBFF;
    --light-100: #FFFFFF;
    --accent-primary: #DA1F2A;
    --accent-primary-darker: #BC1B24;
    --accent-primary-action: #C53038;
    --accent-primary-fade: #EA8D93;
    --accent-secondary: #1390DF;

    /*Color Functional*/
    --color-bg-page: var(--light-100);
    --color-bg-cover: var(--field-200);
    --color-bg-cta: var(--field-200);
    --color-bg-process-step-number: var(--accent-primary);
    --color-bg-motivation-card: var(--field-200);
    --color-bg-faq-card: var(--field-100);
    --color-bg-faq-arrow: var(--dark-200);
    --color-bg-page-button-default: var(--accent-primary);
    --color-bg-page-button-hover: var(--accent-primary-darker);
    --color-bg-page-button-active: var(--accent-primary-action);
    --color-bg-page-button-focus: var(--accent-primary-action);
    --color-bg-modal-button-close: var(--dark-100);

    --color-font-display: var(--dark-300);
    --color-font-body: var(--dark-300);
    --color-font-button: var(--light-100);
    --color-font-number: var(--light-100);
    --color-font-link: var(--accent-secondary);

    --color-border-button-focus: var(--accent-primary-fade);

    --color-overlay-page-modal-mobiile: color-mix(in srgb, var(--dark-300) 90%, transparent);
    --color-overlay-page-modal-desktop: color-mix(in srgb, var(--dark-300) 70%, transparent);

    /*Shadow*/
    --shadow-modal: 0 -8px 8px color-mix(in srgb, var(--dark-400) 80%, transparent);

    /* Primitive scale — шаг 4*/
    --unit-1:  4px;
    --unit-2:  8px;
    --unit-3:  12px;
    --unit-4:  16px;
    --unit-5:  20px;
    --unit-6:  24px;
    --unit-8:  32px;
    --unit-10: 40px;
    --unit-12: 48px;

    /* Primitive scale — шаг 2*/
    --unit-1-5: 6px;
    --unit-2-5: 10px;
    --unit-3-5: 14px;

    /* Size */
    --size-sm: var(--unit-6);
    --size-md: var(--unit-8);
    --size-lg: var(--unit-10);
    --size-xl: var(--unit-12);

    /* Gap */
    --gap-xs:  var(--unit-1);
    --gap-sm:  var(--unit-2);
    --gap-sm-2: var(--unit-2-5);
    --gap-md:  var(--unit-3);
    --gap-lg:  var(--unit-5);
    --gap-xl:  var(--unit-6);
    --gap-2xl: var(--unit-12);

    /* Inner */
    --inner-sm: var(--unit-3-5);
    --inner-md:     var(--unit-5);
    --inner-lg: var(--unit-2-5);
    --inner-xl: var(--unit-5);
    --inner-xxl: var(--unit-6);

    /* Radius */
    --radius-sm: var(--unit-1-5);
    --radius-md: var(--unit-2);
    --radius-full: 50%;

    /* Container */
    --content-min: 300px;
    --content-max: calc(984px + (2 * (var(--inner-xxl))));
    --container-padding: 0 var(--inner-xl);

    /* Section */
    --page-section-gap:        var(--gap-xl);
    --page-section-title-gap:  var(--gap-md);

    /* Button */
    --button-inner: var(--inner-lg) var(--inner-sm);

    /* Card */
    --card-gap:      var(--gap-md);
    --card-inner:  var(--inner-xl);
    --card-caption-gap: var(--gap-sm);
    --card-icon-size: var(--size-lg);

    /* Faq */
    --faq-title-gap:   var(--gap-md);
    --faq-gap:         var(--gap-md);
    --faq-inner:     var(--inner-sm);
    --faq-caption-gap: var(--gap-sm);

    /* Steps */
    --step-gap: var(--gap-md);
}

@media (min-width: 960px) {
    :root {
        /* Section */
        --section-gap:       var(--gap-2xl);
        --section-title-gap: var(--gap-xl);

        /* Card */
        --card-gap:         var(--gap-xl);
        --card-inner:     var(--inner-xxl);
        --card-caption-gap: var(--gap-xs);
        --card-icon-size:   var(--size-md);

        /* Faq */
        --faq-title-gap: var(--gap-lg);

        /* Steps */
        --step-gap: var(--gap-xl);
    }
}


/* =========================================
   RESET
   ========================================= */

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

html,
body {
    min-width: 320px;
    margin: 0;
    padding: 0;
}

body {
    position: relative;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-synthesis: none;
    -webkit-font-synthesis: none;
}

main {
    overflow: hidden;
}

img,
picture,
svg,
video {
    display: block;
    max-width: 100%;
    height: auto;
}

ul,
ol {
    margin: 0;
    padding-left: 0;
}

ul {
    list-style: none;
}

button {
    padding: 0;

    font: inherit;

    border: none;
    background: none;

    cursor: pointer;
}

a {
    text-decoration: none;
}


/* =========================================
   VISUALLY-HIDDEN-UTIL CLASS
   ========================================= */

.visually-hidden:not(:focus):not(:active) {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;

    border: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);

    overflow: hidden;
}


/* =========================================
   TYPOGRAPHY-UTIL CLASS
   ========================================= */

.font {
    margin: 0;
}

.font--hiidden {
    font-size: 0;
}

.font--display {
    font-family: var(--font-display);

    color: var(--color-font-display);
}

.font--body {
    font-family: var(--font-body);

    color: var(--color-font-body);
}

.font--size-heading {
    font-weight: 700;
    font-size: 22px;
    line-height: 30px;
}

.font--size-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
}

.font--size-caption {
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
}

.font--size-slogan {
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
}

.font--size-description {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}

.font--accent-description {
    font-weight: 600;
}

.font--size-info {
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;

    color: var(--color-font-link);
}

.font--size-number {
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;

    color: var(--color-font-number);
}

.font--button {
    font-family: var(--font-button);
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;

    color: var(--color-font-button);
}

.font--modal-title {
    font-family: var(--font-body);
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.5px;
}

.font--modal-description {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

@media (min-width: 960px) {
    .font--size-heading {
        font-weight: 600;
        font-size: 32px;
        line-height: 40px;
    }

    .font--size-title,
    .font--size-slogan {
        font-weight: 600;
        font-size: 26px;
        line-height: 32px;
    }

    .font--size-description {
        line-height: 18px;
    }

    .font--accent-description {
        font-weight: 700;
    }

    .font--modal-title {
        font-family: var(--font-display);
        font-weight: 500;
        font-size: 26px;
        line-height: 32px;
    }

    .font--modal-description {
        line-height: 22px;
    }
}

/* =========================================
   PAGE-GLOBAL CLASS
   ========================================= */

.page {
    background-color: var(--color-bg-page);
}

.page__section {
    margin-bottom: var(--page-section-gap);
}

.page__container {
    width: 100%;
    min-width: var(--content-min);
    max-width: var(--content-max);
    margin: 0 auto;
    padding: var(--container-padding);
    overflow: visible;
}

.page__title {
    margin-bottom: var(--page-section-title-gap)
}

@media (max-width: 300px) {
    .page__container {
        overflow-x: auto;
        overflow-y: hidden;
    }
}

/* =========================================
   BUTTON - BLOCK
   ========================================= */

.button {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    padding: var(--button-inner);

    text-align: center;

    border-radius: var(--radius-sm);
    background-color: var(--color-bg-page-button-default);

    transition: background-color 0.25s ease, box-shadow 0.25s ease;
}

.button:focus {
    box-shadow: inset 0 0 0 2px var(--color-border-button-focus);
    background-color: var(--color-bg-page-button-focus);
}

.button:hover {
    background-color: var(--color-bg-page-button-hover);
}

.button:active {
    background-color: var(--color-bg-page-button-active);
}

@media (min-width: 768px) {
    .button {
        width: auto;
    }
}

/* =========================================
   COVER - BLOCK
   ========================================= */


.cover__wrapper {
    padding-top: calc(49% + var(--gap-sm-2));
    padding-bottom: var(--gap-xl);

    background-color: var(--color-bg-cover);
    background-image: url("../img/cover-mobile@2x.png");
    background-image: image-set(
            url('../img/cover-mobile@1x.webp') 1x,
            url('../img/cover-mobile@2x.webp') 2x,
            url('../img/cover-mobile@1x.png') 1x,
            url('../img/cover-mobile@2x.png') 2x
    );
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: contain;
}

.cover__title {
    margin-bottom: var(--gap-sm);
}

.cover__info {
    position: relative;

    min-height: var(--size-sm);
    padding-left: calc(var(--size-sm) + var(--gap-xs));

    text-align: left;
}

.cover__info::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);

    display: block;
    width: var(--size-sm);
    height: var(--size-sm);

    background-image: url("../img/cover-icon-info.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: contain;
}

@media (min-width: 760px) {
    .cover__wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        min-height: 148px;
        padding-top: var(--gap-md);
        padding-bottom: var(--gap-md);

        border-radius: var(--radius-md);
        background-image: url("../img/cover@2x.png");
        background-image: image-set(
                url('../img/cover@1x.webp') 1x,
                url('../img/cover@2x.webp') 2x,
                url('../img/cover@1x.png') 1x,
                url('../img/cover@2x.png') 2x
        );
        background-position: 100% 0;
        background-size: auto 100%;
    }

    .cover__content {
        width: 65%;
        padding-left: var(--gap-xl);
    }
}


/* =========================================
   PROCESS - BLOCK
   ========================================= */

.process__list {
    display: flex;
    flex-direction: column;
    gap: var(--step-gap);
    list-style: none;
    counter-reset: item;
    padding: 0;
    margin: 0;
}

.process__step {
    counter-increment: item;
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;

    min-height: 110px;
    padding-left: 128px;
}

.process__step::before {
    content: counter(item);

    position: absolute;
    left: 0;
    top: 0;

    width: var(--size-md);
    height: var(--size-md);
    border-radius: var(--radius-full);
    background-color: var(--color-bg-process-step-number);

    display: grid;
    place-items: center;
}

.process__step::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;

    display: block;
    width: 120px;
    height: 100%;

    background-repeat: no-repeat;
    background-position: 100% 100%;
    background-size: auto 89px;
}

.process__step--authorization::after {
    background-image: url("../img/process-step-authorization@2x.png");
    background-image: image-set(
            url('../img/process-step-authorization@1x.webp') 1x,
            url('../img/process-step-authorization@2x.webp') 2x,
            url('../img/process-step-authorization@1x.png') 1x,
            url('../img/process-step-authorization@2x.png') 2x
    );
}

.process__step--click::after {
    background-image: url("../img/process-step-click@2x.png");
    background-image: image-set(
            url('../img/process-step-click@1x.webp') 1x,
            url('../img/process-step-click@2x.webp') 2x,
            url('../img/process-step-click@1x.png') 1x,
            url('../img/process-step-click@2x.png') 2x
    );
}

.process__step--add::after {
    background-image: url("../img/process-step-add@2x.png");
    background-image: image-set(
            url('../img/process-step-add@1x.webp') 1x,
            url('../img/process-step-add@2x.webp') 2x,
            url('../img/process-step-add@1x.png') 1x,
            url('../img/process-step-add@2x.png') 2x
    );
}

.process__step--cash::after {
    background-image: url("../img/process-step-cash@2x.png");
    background-image: image-set(
            url('../img/process-step-cash@1x.webp') 1x,
            url('../img/process-step-cash@2x.webp') 2x,
            url('../img/process-step-cash@1x.png') 1x,
            url('../img/process-step-cash@2x.png') 2x
    );
}

@media (min-width: 560px) {
    .process__list {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .process__step {
        flex-shrink: 1;
        justify-content: flex-start;
        width: 48%;
        min-height: 0;
        margin-bottom: 0;
        padding-top: calc(116px - var(--size-md));
        padding-left: 0;
    }

    .process__step::before {
        position: static;
        margin-bottom: var(--gap-md);
    }

    .process__step::after {
        width: 133px;
        height: 116px;
        margin-left: var(--size-md);

        background-size: auto 100%;
        background-position: 0 0;
    }
}

@media (min-width: 760px) {
    .process__step {
        width: 23%;
        max-width: 228px;
    }
}


/* =========================================
   CTA - BLOCK
   ========================================= */

.cta__content {
    padding: var(--inner-md);
    border-radius: var(--radius-md);
    background-color: var(--color-bg-cta);
}

.cta__slogan {
    margin-bottom: var(--gap-md);
    text-align: center;
}

@media (min-width: 760px) {
    .cta__content {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: var(--gap-xl);
        min-height: 90px;
    }

    .cta__slogan {
        margin-bottom: 0;
    }
}

/* =========================================
   MOTIVATION - BLOCK
   ========================================= */
.motivation__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    gap: var(--card-gap);
}

.motivation__item {
    position: relative;

    padding: var(--card-inner);


    border-radius: var(--radius-md);
    background-color: var(--color-bg-motivation-card);
}

.motivation__item:last-child {
    grid-column: 1 / -1;
}

.motivation__caption {
    margin-bottom: var(--card-caption-gap);
    padding-top: 60px;
}

.motivation__item::before {
    content: "";
    position: absolute;
    top: var(--card-inner);
    left: var(--card-inner);

    display: block;
    width: var(--size-xl);
    height: var(--size-xl);

    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: contain;
}

.motivation__item--support::before {
    background-image: url("../img/motivation-support.svg");
}

.motivation__item--quality::before {
    background-image: url("../img/motivation-quality.svg");
}

.motivation__item--trust::before {
    background-image: url("../img/motivation-trust.svg");
}

@media (min-width: 760px) {
    .motivation__item {
        flex-grow: 1;
    }

    .motivation__item:last-child {
        grid-column: auto;
    }

    .motivation__item::before {
        width: var(--size-lg);
        height: var(--size-lg);
    }

    .motivation__caption {
        padding-top: 52px;
    }
}



/* =========================================
   FAQ - BLOCK
   ========================================= */
.faq {
    width: 100%;
}

.faq__title {
    margin-bottom: var(--faq-title-gap);
}

.faq__list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: var(--faq-gap);
}

.faq__item {
    width: 100%;
    padding: var(--faq-inner);
    padding-bottom: 0;

    background-color: var(--color-bg-faq-card);
    border-radius: var(--radius-sm);
}

.faq__item--nojs {
    display: block;
}

.faq__item--close {
    display: none;
}

.faq__item--open {
    display: block;
}

.faq__question {
    position: relative;

    padding-right: calc(var(--size-sm) + var(--gap-sm));
    padding-bottom: var(--faq-inner);
}

.faq__question--arrow-down::before,
.faq__question--arrow-up::before {
    content: "";

    position: absolute;
    top: 0;
    right: 0;

    display: block;
    width: var(--size-sm);
    height: var(--size-sm);

    background-image: url("../img/faq-icon-arrow.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: contain;

    transition: rotate 1s;
}

.faq__question--arrow-up::before {
    transform: rotate(-180deg);
}

.faq__answer {
    display: none;
    padding-bottom: var(--faq-inner);
}
.faq__answer--active {
    display: block;
}

.faq__answer--nojs {
    display: block;
}

.faq__answer--open {
    display: block;
}

.faq__answer--close {
    display: none;
}

.faq__answer-list {
    all: revert;
    list-style-type: disc;

    margin-top: var(--gap-xs);
    padding-inline-start: var(--gap-xl);
}

.faq__answer-description + .faq__answer-description {
    margin-top: var(--gap-xs);
}







